.slider{
  position: relative;
  width: auto;
  margin: auto;
  overflow: hidden;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  background-color: aliceblue;
  border: 1px solid gray;
  border-radius: 1rem;
  margin: 1rem 0rem;
}
.slider img{
  display: none;
  max-height: 50vh;
}
img.displaySlide{
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}
.slider button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  font-size: 3rem;
  background-color: hsla(0, 0%, 0%, 0.5);
  border: none;
  color: white;
}
.prev{
  left: 0;
}
.next{
  right: 0;
}

@keyframes fade{
  from {opacity: .3}
  to {opacity: 1} 
}